# Node.js
node_modules
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/


# User-specified
claude.md
gemini.md

# OS-specific
.DS_Store

# Gradio
flagged/

.vercel

